#margin {
    margin: 0 auto;
    width: 420
}
/* Added width nesting */

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

div.location:hover {
  background-color: #F2D15C
}
/* Changed background color when hovering over */

#margin .container {
  box-sizing: border-box;
  /* Changed to border box */
}

#margin nav {
  padding: 10px 0 15px 15px;
  position: fixed;
}

.restaurant-list {
  box-sizing: border-box;
    /* Changed to border box */
  padding-top: 50px;
  width: 100%
  /* Added width as a percentage */
}
